<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul class="main-nav">
  <li>
    <a routerLink="/dnd" class="main-link">DND Section <i class="fa fa-space-shuttle"></i></a>
  </li>
</ul>

<router-outlet></router-outlet> -->



<div style="display: flex" class=".background">
  <div cdkDropList  [cdkDropListData]="artists"
  [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList"
  (cdkDropListDropped)="drop($event)" style="width: 30%">
  <div  *ngFor="let artist of artists" class="pop" cdkDrag>{{artist}}</div>
  </div>
  <div cdkDropList [cdkDropListData]="alteArtists"
  [cdkDropListConnectedTo]="firstList" #secondList="cdkDropList"
   (cdkDropListDropped)="drop($event)" style="width: 30%">
  <div  *ngFor="let artist of alteArtists" class="pop" cdkDrag>{{artist}}</div>
  </div>
  </div>
