<h1> Table 1: with *ngFor</h1>
<h5> Try moving square 1 to table cell 2 and, after that, square 2 to table cell 1</h5>
<p> It's not possible to switch cell values in this way. But you can move square 1 to cell 2 and, for example, move square 3
	to cell 1 </p>
<table style="width: 100%">
	<tr *ngFor="let item of tableData">
		<td *ngFor="let subItem of item">
			<cdk-drop (dropped)="drop($event)" [connectedTo]="drops | removeMe: subItem" class="list">

				<div cdkDrag class="box">{{subItem.id}}</div>

			</cdk-drop>
		</td>
	</tr>
</table>


<h1> Table 2: without *ngFor </h1>
<h5> Try moving square 1 to table cell 2 and, after that, square 2 to table cell 1</h5>
<p> It's not possible to switch cell values in this way. But you can move square 1 to cell 2 and, for example, move square 3
	to cell 1 </p>
<table style="width: 100%">
	<tr>
		<td>
			<cdk-drop #td1 (dropped)="drop($event)" [connectedTo]="[td2,td3,td4]" class="list">
				<div cdkDrag class="box">1</div>
			</cdk-drop>
		</td>

		<td>
			<cdk-drop #td2 (dropped)="drop($event)" [connectedTo]="[td1,td3,td4]" class="list">
				<div cdkDrag class="box">2</div>
			</cdk-drop>
		</td>
	</tr>

	<tr>
		<td>
			<cdk-drop #td3 (dropped)="drop($event)" [connectedTo]="[td2,td1,td4]" class="list">
				<div cdkDrag class="box">3</div>
			</cdk-drop>
		</td>

		<td>
			<cdk-drop #td4 (dropped)="drop($event)" [connectedTo]="[td2,td3,td1]" class="list">
				<div cdkDrag class="box">4</div>
			</cdk-drop>
		</td>
	</tr>
</table>

<h1> Using divs: without *ngFor </h1>
<h5> Try moving white squares to different yellow containers (each container is a cdk-drop)
  It fails after the first move of a square. For example, drag square 1 and drop it to be with square two in the same container. And square 4 to be with square 3. After that you will not be able to move around anything else.
</h5>
<div>
	<cdk-drop #div1 (dropped)="drop($event)" [connectedTo]="[div2,div3,div4]" class="list">
		<div cdkDrag class="box">1</div>
	</cdk-drop>
</div>

<div>
	<cdk-drop #div2 (dropped)="drop($event)" [connectedTo]="[div1,div3,div4]" class="list">
		<div cdkDrag class="box">2</div>
	</cdk-drop>
</div>

<div>
	<cdk-drop #div3 (dropped)="drop($event)" [connectedTo]="[div2,div1,div4]" class="list">
		<div cdkDrag class="box">3</div>
	</cdk-drop>
</div>

<div>
	<cdk-drop #div4 (dropped)="drop($event)" [connectedTo]="[div2,div3,div1]" class="list">
		<div cdkDrag class="box">4</div>
	</cdk-drop>
</div>



<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
